<?xml version="1.0" encoding="utf-8"?>

<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <connectionStrings>
    <add name="ConnectionString" connectionString="Data Source=(DESCRIPTION =(ADDRESS_LIST =(ADDRESS = (PROTOCOL = TCP)(HOST = 192.0.0.88)(PORT = 1521)))(CONNECT_DATA =(SERVICE_NAME = dbtest2.atlbattery.com)));Persist Security Info=True;User ID=PMEUSER;Password=pmeuser1;Unicode=True" />
  </connectionStrings>
  
  <system.net>
    <mailSettings>
      <smtp deliveryMethod="Network" from="Package文件&lt;DCSTEST@atlbattery.com>">
        <!--<network host="SSL-MAIL1.ATLbattery.com" port="25" userName="DCSTEST@atlbattery.com" password="12qw!@QW
" defaultCredentials="false" clientDomain="anydomain" />-->
        <network host="SSL-MAIL1.ATLbattery.com" userName="DCSTEST@atlbattery.com" />
      </smtp>
    </mailSettings>
  </system.net>
  
  
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
    
    <authentication mode="Windows" /> 
    
    <identity impersonate="false" />
    
    <authorization>      
      <!--<allow users="atl-bm\zhang_q,atl-bm\it-test" />
      <deny users="*" />-->
      <allow users="*" />
      <deny users="?" />
    </authorization>    
  </system.web>
  
  
  
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
        <staticContent>
            <mimeMap fileExtension=".json" mimeType="application/x-javascript" />
        </staticContent>
  </system.webServer>
  
</configuration>
